<div class="container">
    <div class="col-md">
  <table class="table mat-table col-md">
    <tr>
      <th>No.#</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>PhoneNumber</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let u of allusers; let i = index">
      <td>{{i + 1}} | &nbsp; <button mat-mini-fab color="primary" (click)="viewid(u._id)" matTooltip="View Detail.." data-toggle="modal" data-target="#viewModal"><i class="fas fa-user-friends"></i></button>
      </td>
      <td>{{u.firstname}} </td>
      <td>{{u.lastname}} </td>
      <td>{{u.phonenumber}} </td>
      <td>{{u.email}} </td>
      <td>


<div class="example-button-row" >
          <button (click)="openEditDialog(u._id,u.firstname,u.lastname,u.phonenumber,u.email)"  mat-mini-fab color="warn" matTooltip="Edit User" ><i class="far fa-edit"></i></button>&nbsp;
          <button (click)="deleteuser(u._id)" mat-mini-fab color="warn" matTooltip="Delete User"><i class="fas fa-minus-square"></i></button>&nbsp;
          <button (click)="openUploadDialog()" mat-mini-fab color="primary" matTooltip="Upload Picture.."><i class="fas fa-images"></i></button>
        </div>

      </td>
    </tr>
  </table><hr>
  <div class="example-button-row text-right">
      <button (click)="openCreateDialog()"  mat-mini-fab color="primary" matTooltip="Create User"> <i class="far fa-plus-square"></i> </button>
    </div>
</div>


<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">View User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li><b>ID : </b>{{ editform._id }} </li>
          <li><b>FirstName : </b>{{ editform.firstname }} </li>
          <li><b>LastName : </b>{{ editform.lastname }} </li>
          <li><b>PhoneNumber : </b>{{ editform.phonenumber }} </li>
          <li><b>Email : </b>{{ editform.email }} </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal
<button class="btn btn-warning btn-sm" type="button" (click)="viewid(u._id)" data-toggle="modal"
          data-target="#editModal">Edit</button>&nbsp; -->
<!-- Modal
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form name="form"
          (ngSubmit)="f.form.valid && edituser(firstName.value,lastName.value,phoneNumber.value,email.value,editform._id)"
          #f="ngForm" novalidate>
          <div class="form-group">
            <label for="id">ID :</label>
            <input type="text" class="form-control" value="{{editform._id}}" readonly>
          </div>

          <div class="form-group">
            <label for="firstName">First Name :</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required
              placeholder="{{editform.firstname}}">
            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name :</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required
              placeholder="{{editform.lastname}}">
            <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
              <div *ngIf="lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="PhoneNumber">PhoneNumber :</label>
            <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="model.phoneNumber"
              #phoneNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" required
              pattern="^[0-9]{10}$" placeholder="{{editform.phonenumber}}">
            <div *ngIf="f.submitted && phoneNumber.invalid" class="invalid-feedback">
              <div *ngIf="phoneNumber.errors.required">PhoneNumber is required</div>
              <div *ngIf="phoneNumber.errors.pattern">รูปแบบ เบอร์โทร ไม่ถูกต้อง</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email
              placeholder="{{editform.email}}">
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group; modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-success" >Save Change</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
-->



<!-- Button trigger modal
<button (click)="deleteuser(u._id)" data-toggle="modal"
          data-target="#deleteModal" mat-mini-fab color="warn"><i class="fas fa-minus-square"></i></button>
        </div>-->
<!-- Modal -->
<!--
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li><b>ID : </b>{{ editform._id }} </li>
          <li><b>FirstName : </b>{{ editform.firstname }} </li>
          <li><b>LastName : </b>{{ editform.lastname }} </li>
          <li><b>PhoneNumber : </b>{{ editform.phonenumber }} </li>
          <li><b>Email : </b>{{ editform.email }} </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteuser(editform._id)">Delete</button>
      </div>
    </div>
  </div>
</div>
-->


<!--

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
  +
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form name="form" (ngSubmit)="f.form.valid && registeruser(firstName.value,lastName.value,phoneNumber.value,email.value)" #f="ngForm"  novalidate>
              <div class="form-group">
                  <label for="firstName">First Name :</label>
                  <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                  <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                      <div *ngIf="firstName.errors.required">First Name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="lastName">Last Name :</label>
                  <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
                  <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                      <div *ngIf="lastName.errors.required">Last Name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="PhoneNumber">PhoneNumber :</label>
                  <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" required pattern="^[0-9]{10}$" />
                  <div *ngIf="f.submitted && phoneNumber.invalid" class="invalid-feedback">
                      <div *ngIf="phoneNumber.errors.required">PhoneNumber is required</div>
                      <div *ngIf="phoneNumber.errors.pattern">รูปแบบ เบอร์โทร ไม่ถูกต้อง</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="email">Email :</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                  <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="form-group; modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button class="btn btn-success" >Register</button>

              </div>
          </form>
      </div>
-->
